name: Generic Release

on:
  workflow_call:
    inputs:
      snapshot:
        required: false
        type: boolean
        default: false

jobs:
  goreleaser:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4.1.7
        with:
          fetch-depth: 0
      - run: git fetch --force --tags
      - uses: actions/setup-go@v5.0.1
        with:
          go-version-file: "go.mod"
          cache: false # don't use cache because it's huge (>1GB)
      - if: inputs.snapshot == false
        name: Login to GitHub Container Registry
        run: docker login ghcr.io -u stnokott -p ${{ secrets.GITHUB_TOKEN }}
      - if: inputs.snapshot == false
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --config=build/.goreleaser.yaml --clean 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - if: inputs.snapshot == true
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --config=build/.goreleaser.yaml --clean --snapshot --skip=publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - if: inputs.snapshot == true
        uses: actions/upload-artifact@v4
        with:
          name: release-binary
          path: |
            dist/*.zip
            dist/*.tar.gz
          retention-days: 2
